include ../preloadermodule/preloader-mixins.pug

//- content structure
#content.preload
    #menu-frame: include ../menumodule/menu.pug
    #screenings-list-frame: include ../screeningslistmodule/screeningslist.pug

    #center-preloader: +preloader("", "squares")

    #username-area: include ../usernamedisplaymodule/usernamedisplay.pug
    #cube-area: include ../cubemodule/cube.pug
    #button-area: include ../mainbuttonmodule/mainbutton.pug
    #link-area
        include ../centerlinkmodule/centerlink.pug
        include ../centerbuttonmodule/centerbutton.pug
