include ../preloadermodule/preloader-mixins.pug

//- content structure
#content.preload
    #menu-frame: include ../menumodule/menu.pug

    #center-preloader: +preloader("", "squares")

    #cube-area: include ../cubemodule/cube.pug
    #link-area: include ../centerlinkmodule/centerlink.pug
    #button-area: include ../mainbuttonmodule/mainbutton.pug