//- content structure
#content
    #logo-area
        #susdox-logo
    #link-area
        a#susdox-link(href="https://www.bilder-befunde.at" target="_blank") www.bilder-befunde.at
    #button-area 
        #add-code-button.click-button=content.addCodeButtonText