// content styles
#content
    display grid
    grid-template-columns: 1fr
    grid-template-rows: 65% 10% 25%
    position relative
    background-color transparent    
    width 100%
    height 100%
    box-sizing: border-box

    #link-area
        display flex
        width 100%
        height 100%
        align-items: center
        a
            width 100%
            text-align center
            text-decoration: underline
            font-size: 15pt
            color #3366CC



    #logo-area
        position relative
        display flex
        width 100%
        height 100%
        align-items: center
        // border solid 1px cd-darkblue
        overflow: hidden

    #logo-area > *
        position absolute
        top 50%
        left 50%
        height 220px
        width 220px
        transition transform 0.3s

    #susdox-logo        
        transform translate(-50%, -50%)
        background-image: url("/img/sustsol_logo.png")
        background-size: contain
        background-repeat no-repeat
        background-position center

    #login-frame  
        transform translate(-50%, 65vh)



    #button-area
        position: relative
        display flex
        width 100%
        height 100%
        align-items: center
        overflow hidden
        
        #login-preloader
            display none
            background-color transparent
            color cd-turquoise
            width: 50px
            height 50px
            padding 0

    #button-area > *
        position absolute
        top 50%
        left 50%
        background-color: cd-turquoise
        color white
        border-radius: 10px
        width 220px
        box-sizing: border-box
        padding 20px
        font-size 15pt
        text-align: center
        transition all 0.3s

    #add-code-button  
        transform translate(-50%, -50%)

    #login-button  
        transform translate(-50%, 25vh)

    #login-preloader  
        transform translate(-50%, -50%)



#content.login

    #add-code-button  
        transform translate(-50%, -25vh)

    #login-button  
        transform translate(-50%, -50%)

    #susdox-logo        
        transform translate(-50%, -65vh)

    #login-frame  
        transform translate(-50%, -50%)

#content.logging-in

    #add-code-button  
        transform translate(-50%, -25vh)

    #login-button  
        transform translate(-50%, -50%) scale(0)
        opacity 0

    #login-preloader  
        display block !important

    #susdox-logo        
        transform translate(-50%, -65vh)

    #login-frame  
        transform translate(-50%, -50%)

