// Centerbutton styles
#centerbutton-container
    display none
    width calc(100% - 30px)
    height 100%
    align-items: center
    margin auto

    .click-button
        position relative        
        padding 12px 40px
        width 100%
        border-radius: 3px 3px 30px 3px
        box-sizing: border-box
        // background-color cd-turquoise
        background-color cd-darkblue
        text-align center
        font-size: 12pt
        color white
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden
        // color #3366CC

    #centerbutton-right-arrow
        position absolute
        height 25px
        width 25px
        right 15px
        top 50%
        transform translateY(-50%)
        // vertical-align: middle


.user-images
    #centerbutton-container
        display flex
