//- footer structure
#footer
    //- p=content.footerAddressLine
    //- #footer-0: p a
    //- #footer-1: p b
    //- #footer-2: p c
    //- #footer-3: p d
    p#footer-0 a
    p#footer-1 b
    p#footer-2 c
    p#footer-3 d