// footer styles
#footer
    position: relative
    z-index 99
    background-color white
    display flex
    align-items center
    box-shadow 0 0 5px 0 alpha(black, 0.1)
    height 100%
    width 100%
    box-sizing: border-box
    padding 15px 0
    
    p
        width 100%
        padding 0 15px
        box-sizing: border-box
        text-align: center
        font-size: 12pt



#footer-0
    width 100%
    background-color green
    flex-shrink: 0
#footer-1
    width 100%
    background-color orange
    flex-shrink: 0
#footer-2
    width 100%
    background-color blue
    flex-shrink: 0
#footer-3
    width 100%
    background-color yellow        
    flex-shrink: 0
