// footer styles
#footer
    background-color white
    display flex
    align-items center
    box-shadow 0 0 5px 0 alpha(black, 0.1)
    height 100%
    width 100%
    box-sizing: border-box
    padding 15px
    position: relative
    z-index 99

    p
        text-align: center
        font-size: 12pt