// footer styles
#footer
    position: relative
    z-index 99
    display flex
    // display none
    align-items: center
    background-color white
    box-shadow 0 0 5px 0 alpha(black, 0.1)
    height 100%
    width 100vw
    overflow-x hidden
    box-sizing: border-box
    // padding 15px 0

    p
        text-align: center
        font-size: 12pt

    #address-display
        width 300vw
        display flex
        align-items center
        transition: transform 0.6s    
    
    #address-display.no-transition
        transition: none

    #address-display.position--1
        transform translateX(0%)

    #address-display.position-0
        transform translateX(-100vw)

    #address-display.position-1
        transform translateX(-200vw)



#display-0
#display-1
#display-2
    width 100vw
    padding 0 15px
    box-sizing: border-box
    flex-shrink: 0
