// usernamedisplay styles
edit-icon-size = 25px

#usernamedisplay-container
    display flex
    justify-content: center
    align-items: center
    width 100%
    padding 30px 20px 0 20px
    box-sizing: border-box
    // background-color rgba(0, 0, 0, 0.2)

#usernamedisplay-container.no-username
    display none

#usernamedisplay
    font-size: 20px

#username-edit-button
    width: edit-icon-size
    height: edit-icon-size
    padding-bottom 5px
    margin-left: 15px
    color cd-turquoise
    