// usernamedisplay styles
edit-icon-size = 25px

#usernamedisplay-container
    display flex
    justify-content: center
    align-items: center
    width 100%
    padding 30px 20px 0 20px
    box-sizing: border-box
    // background-color rgba(0, 0, 0, 0.2)
    transition: opacity 0.3s

.preload
    #usernamedisplay-container
        // display none
        opacity: 0
        pointer-events: none
        z-index -1

.add-code
    #usernamedisplay-container
        opacity: 0
        pointer-events: none
        z-index -1
        // display none

.pre-user-images
    #usernamedisplay-container
        opacity: 0
        pointer-events: none
        z-index -1
        // display none

#usernamedisplay-container.no-username
    opacity: 0
    pointer-events: none
    z-index -1
    // display none

#usernamedisplay
    width 100%
    padding 0 0 5px 0
    box-sizing: border-box
    font-size: 20px
    border: none
    color cd-darkblue
    text-align: center
    background-color transparent

#usernamedisplay:focus-within
    border-bottom solid 1px cd-turquoise

#usernamedisplay:focus-within::placeholder
        display none
        opacity 0


// #usernamedisplay::placeholder
//     color #bbb

#username-edit-button
    width: edit-icon-size
    height: edit-icon-size
    padding-bottom 5px
    margin-left: 15px
    color cd-turquoise
    