//- usernamedisplay structure
#usernamedisplay-container.no-username
    input#usernamedisplay(type="text" placeholder=content.usernamedisplayPlaceholderText)
    //- button#username-edit-button.click-button: svg: use(href="#svg-edit-icon")