include ../preloadermodule/preloader-mixins.pug

//- cube structure
#arrow-left.click-button: svg: use(href="#svg-chevron-left-icon") 
#arrow-right.click-button: svg: use(href="#svg-chevron-right-icon") 

#cube-frame 
    #cube
        #cube-front.side: #sustsol-cube-image
        #cube-bottom.side: include ../credentialsframemodule/credentialsframe.pug
        #cube-right.side 
        #cube-left.side 
        #cube-top.side 
        #cube-back.side: +preloader("images-preloader", "squares")
        