// cube styles
/*===================================================================
 Arrow Styles
===================================================================*/
#arrow-left
    position absolute
    top 50%
    left 0
    transform translate(-200%, -50%)
    height 40px
    width 40px
    transition transform 0.3s

#arrow-right
    position absolute
    top 50%
    right 0
    transform translate(200%, -50%)
    height 40px
    width 40px


#hidden-front-side
    display none

/*===================================================================*/
.pre-user-images
    #arrow-left
        transform translate(0, -50%)
        opacity: 0.6
        pointer-events: none

    #arrow-right
        transform translate(0, -50%)
        opacity: 0.6
        pointer-events: none    
    
    #images-preloader
        display block !important
    
    #cube
        transform scale(0.83) rotateX(180deg)

.user-images
    #arrow-left
        transform translate(0, -50%)
    #arrow-right
        transform translate(0, -50%)
    
    #cube
        transform scale(0.83) rotateX(180deg)


/*===================================================================
 The Cube
===================================================================*/
#cube-frame
    position: absolute
    top 50%
    left 50%
    transform: translate(-50%, -50%)
    // width: 220px;
    // height: 220px;
    width: 224px;
    height: 224px;
    perspective: 700px
    filter drop-shadow(0 0 15px alpha(black, 0.2));
    background: transparent

#cube
    position: absolute
    width: inherit
    height: inherit
    // width: 210px
    // height: 210px
    transform-style: preserve-3d;
    transform scale(0.83)
    transition transform 0.6s
    background transparent
    
    .side
        width: inherit
        height: inherit
        position: absolute;
        background-color white

    #cube-front
        transform: rotateY(0deg) translateZ(112px)
        // transform: rotateY(0deg) translateZ(122px)
    #cube-back
        transform: rotateX(180deg) translateZ(112px)
        // transform: rotateY(180deg) translateZ(122px)
    #cube-right
        transform: rotateY(90deg) translateZ(112px)
        // transform: rotateY(90deg) translateZ(122px)
    #cube-left
        transform: rotateY(-90deg) translateZ(112px)
        // transform: rotateY(-90deg) translateZ(122px)
    #cube-top
        transform: rotateX(90deg) translateZ(112px)
        // transform: rotateY(90deg) translateZ(122px)
    #cube-bottom
        transform: rotateX(-90deg) translateZ(112px)
        // transform: rotateY(-90deg) translateZ(122px)

    #sustsol-cube-image
        background-image: url("/img/sustsol_logo.png")
        background-size: contain
        background-repeat no-repeat
        background-position center
        width: 90%
        height 90%
        position relative
        top 5%
        left 5%

    #images-preloader
        display none
        height: 60px
        width 60px
        color cd-turquoise
        position: absolute
        top 50%
        left 50%
        transform translate(-50%, -50%) rotateZ(45deg)

    #cube-right
    #cube-front
    #cube-left
    #cube-back
        img
        canvas
            width 90%
            height 90%
            object-fit: contain
            position relative
            top 5%
            left 5%
            // -webkit-touch-callout: none
            // -webkit-user-select: none
            // -khtml-user-select: none
            // -moz-user-select: none    
            // -ms-user-select: none      
            // user-select: none

    #cube-right
    #cube-front
    #cube-left
        img
        canvas
            transform rotateZ(180deg)

/*===================================================================*/
.add-code
    #cube
        transform scale(0.83) rotateX(90deg)

.request-code
    #cube
        transform scale(0.83) rotateX(180deg) rotateY(0deg)


/*===================================================================*/
.user-images.position--1
    #cube
        transform scale(0.83) rotateX(180deg) rotateY(-90deg)

.user-images.position-0
    #cube
        transform scale(0.83) rotateX(180deg) rotateY(0deg)

.user-images.position-1
    #cube
        transform scale(0.83) rotateX(180deg) rotateY(90deg)

.user-images.position-2
    #cube
        transform scale(0.83) rotateX(180deg) rotateY(180deg)

.user-images.position-3
    #cube
        transform scale(0.83) rotateX(180deg) rotateY(270deg)

.user-images.position-4
    #cube
        transform scale(0.83) rotateX(180deg) rotateY(360deg)

.user-images.no-transition
    #cube
        transition none