/*==========================================================
 Invalid Code Modal Styles
==========================================================*/
#invalidcodemodal-hidden-templates
    display none

#invalidcodemodal
    .modal-actions
        .modal-accept-button
            background-color cd-darkred
        .modal-cancel-button
            background-color transparent
            color cd-darkblue
            font-size 12pt
        #invalidcodemodal-update-button
            display block
            // width 100%
            background-color cd-turquoise
            color white
            text-align: center
    
