/*==========================================================
 Logout Modal Styles
==========================================================*/
#logoutmodal-hidden-templates
    display none

#logoutmodal
    .modal-actions
        .modal-accept-button
            background-color cd-darkred
        .modal-cancel-button
            background-color transparent
            color cd-darkblue
            font-size 12pt

    
