//- usermodal structure
#usermodal
    #useraction-frame
        #useraction-header 
            h2#useraction-header-title=content.useractionLogoutTitle
            #useraction-close-button.click-button: svg: use(href="#svg-cross-icon")
        #useraction-message=content.useractionLogoutMessage
        #useraction-options
            #useraction-accept-button.click-button=content.useractionAcceptButtonText 
            #useraction-reject-button.click-button=content.useractionRejectButtonText
