[submodule "source/buttonstylemodule"]
	path = source/buttonstylemodule
	url = git@github.com:JhonnyJason/pwa-sources-buttonstylemodule.git
[submodule "source/statemodule"]
	path = source/statemodule
	url = git@github.com:JhonnyJason/pwa-sources-statemodule.git
[submodule "source/preloadermodule"]
	path = source/preloadermodule
	url = git@github.com:JhonnyJason/pwa-sources-preloadermodule.git
[submodule "source/scrollrolldatepickermodule"]
	path = source/scrollrolldatepickermodule
	url = git@github.com:JhonnyJason/pwa-sources-scrollrolldatepickermodule.git
[submodule "source/qrdisplaymodule"]
	path = source/qrdisplaymodule
	url = git@github.com:JhonnyJason/pwa-sources-qrdisplaymodule.git
