include ../svgiconsmodule/svgicons.pug
include ../scrollrolldatepickermodule/scrollrolldatepicker.pug
include ../usermodalmodule/usermodals.pug

#real-body
    header: include ../headermodule/header.pug
    main: include ../contentmodule/content.pug
    footer: include ../footermodule/footer.pug
    //- include ../navmodule/navstatedisplay.pug