include ../svgiconsmodule/svgicons.pug
include ../usermodalmodule/usermodal.pug
include ../confirmationpopupmodule/confirmationpopup.pug

#real-body
    header: include ../headermodule/header.pug
    main: include ../contentmodule/content.pug
    footer: include ../footermodule/footer.pug