//- mainbutton structure
#mainbutton-wrapper
    #add-code-button.click-button=content.addCodeButtonText
    #accept-button.click-button=content.acceptButtonText
    a#request-code-button=content.requestCodeButtonText
    #code-button(): include ../codedisplaymodule/codedisplay.pug
