//- mainbutton structure
#mainbutton-wrapper
    #add-code-button.click-button=content.addCodeButtonText
    #accept-button.click-button
        span#accept-button-accept-text=content.acceptButtonText
        span#accept-button-request-text=content.acceptButtonRequestText
    #code-button(): include ../codedisplaymodule/codedisplay.pug
