//- header structure
#header
    #susdox-logo
    a#header-install-button
        #header-install-icon: svg: use(href="#svg-phone-download-icon")
        #header-install-label=content.menuPWAInstallLabel
    #menu-close-button.click-button: svg: use(href="#svg-cross-icon")
    #menu-button.click-button: svg: use(href="#svg-menu-icon")