// header styles
header-icon-size = 35px
header-burger-size = 30px

#header
    background-color white
    box-shadow 0 0 5px 0 alpha(black, 0.1)
    display: flex
    justify-content: space-between
    align-items: center
    width 100%
    height 100%
    box-sizing: border-box
    padding 15px
    position: relative
    z-index: 99

    #susdox-logo
        background-image: url("/img/icon.png")
        height: header-icon-size
        width: header-icon-size
        background-size contain

    #menu-button
        // user-select: none
        height: header-burger-size
        width: header-burger-size

    #menu-close-button
        // user-select: none
        height: header-burger-size
        width: header-burger-size
        display: none

.menu-on
    #header
        #menu-button
            display none
        #menu-close-button
            display: block
    // #menu-button > *
    //     user-select: none
    //     pointer-events: none
