//-############################################################
svg#svgicon-definitions
    defs
        filter#svg-dropshadow-filter(height="130%" width="130%")
            fegaussianblur(in="SourceGraphic" stddeviation="3" result="blurOut")
            feColorMatrix(in="blurOut" type="saturate" values="0.25" result="shadowOut")
            feblend(in='SourceGraphic' in2='shadowOut' mode='normal')

//-############################################################
svg#svgicon-symbols

    symbol#svg-cross-icon(preserveAspectRatio="xMidYMid meet" viewBox='0 0 24 24')
        path(fill='currentColor' d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z")
    
    symbol#svg-menu-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24")
        path(fill="currentColor", d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z")

    symbol#svg-plus-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24")
        path(fill="currentColor", d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z")

    symbol#svg-user-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24")
        path(fill="currentColor", d="M11.5,14C15.64,14 19,15.57 19,17.5V20H4V17.5C4,15.57 7.36,14 11.5,14M18,17.5C18,16.12 15.09,15 11.5,15C7.91,15 5,16.12 5,17.5V19H18V17.5M11.5,5C13.43,5 15,6.57 15,8.5C15,10.43 13.43,12 11.5,12C9.57,12 8,10.43 8,8.5C8,6.57 9.57,5 11.5,5M11.5,6C10.12,6 9,7.12 9,8.5C9,9.88 10.12,11 11.5,11C12.88,11 14,9.88 14,8.5C14,7.12 12.88,6 11.5,6Z")

    symbol#svg-info-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24")
        path(fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z")

    symbol#svg-logout-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24")
        path(fill="currentColor" d="M16.56,5.44L15.11,6.89C16.84,7.94 18,9.83 18,12A6,6 0 0,1 12,18A6,6 0 0,1 6,12C6,9.83 7.16,7.94 8.88,6.88L7.44,5.44C5.36,6.88 4,9.28 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12C20,9.28 18.64,6.88 16.56,5.44M13,3H11V13H13")

    symbol#svg-check-mark-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24")
        path(fill="currentColor" d="M23,12L20.56,9.22L20.9,5.54L17.29,4.72L15.4,1.54L12,3L8.6,1.54L6.71,4.72L3.1,5.53L3.44,9.21L1,12L3.44,14.78L3.1,18.47L6.71,19.29L8.6,22.47L12,21L15.4,22.46L17.29,19.28L20.9,18.46L20.56,14.78L23,12M10,17L6,13L7.41,11.59L10,14.17L16.59,7.58L18,9L10,17Z")

    symbol#svg-update-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24")
        path(fill="currentColor" d="M17,1H7A2,2 0 0,0 5,3V21A2,2 0 0,0 7,23H17A2,2 0 0,0 19,21V3A2,2 0 0,0 17,1M17,19H7V5H17V19M16,13H13V8H11V13H8L12,17L16,13Z")

    symbol#svg-arrow-right-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24")
        path(fill="currentColor" d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z")


    symbol#svg-chevron-left-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24")
        path(fill="currentColor" d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z")

    symbol#svg-chevron-right-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24")
        path(fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z")