// globalstyles styles
/*==========================================================
Fonts
==========================================================*/
@font-face {
    font-family: 'Acari Sans';
    src: url('font/AcariSans-Regular.woff2') format('woff2'),
        url('font/AcariSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acari Sans';
    src: url('font/AcariSans-Bold.woff2') format('woff2'),
        url('font/AcariSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/*==========================================================
Color Theme
==========================================================*/
cd-darkblue = #1E3255
cd-turquoise = #3DA299
cd-lightgrey = #f7f7f7

/*==========================================================
Global Variables
==========================================================*/
footer-height = 70px
header-height = 70px
// header-height = 90px
// content-height = 

/*==========================================================
General Tag Styles
==========================================================*/
html
    position relative
    width 100%
    min-width 280px
    height 100%
    min-height 550px
    // height 100lvh
    overflow: hidden
body
    position relative
    color cd-darkblue
    background-color white
    font-family: "Acari Sans"
    text-align: left
    line-height: 130%
    font-size: 14pt
    width 100%
    height 100%
    overflow: hidden
h1
    font-size: 17pt
h2
    font-size: 15pt
p
    font-size: 14pt


svg
    height inherit
    width inherit
