//- credentialsframe structure
#credentialsframe-container
    label#login-birhday-label(for="login-birthday-input")=content.loginBirthdayLabel
    input#login-birthday-input(type="date")
    label#login-code-label(for="login-code-inpu")=content.loginCodeLabel
    input#login-code-input(type="text")
