//- menu structure
nav#menu
    .menu-group 
        a.menu-entry#menu-more-info(target="_blank" href="https://pwa.bilder-befunde.at/info")
            .menu-icon: svg: use(href="#svg-info-icon")
            .menu-label=content.menuMoreInfoLabel
        a.menu-entry#menu-logout
            .menu-icon: svg: use(href="#svg-logout-icon")
            .menu-label=content.menuLogoutLabel
    //- .menu-group 
    .menu-group 
        a#menu-version.menu-entry
            #up-to-date-icon.menu-icon: svg: use(href="#svg-check-mark-icon")
            #to-update-icon.menu-icon: svg: use(href="#svg-update-icon")
            #current-version.menu-label v0.1.x
            //- #to-version-icon.menu-icon: svg: use(href="#svg-chevron-right-icon")
            #to-version-icon.menu-icon: svg: use(href="#svg-arrow-right-icon")
            #new-version.menu-label v0.1.2