//- codebutton structure
#codedisplay-container
    #codedisplay-buttons
        #show-code-label.click-button=content.showCodeButtonText
        #code-display.click-button
    #invalid-code-info=content.invalidCodeInfoText