// screeningslist styles
#screenings-container
    width 100%
    height 100%

#screeningslist
    width 100%
    height 100%
    padding 15px 0
    box-sizing: border-box
    // background-color rgba(0, 0, 0, 0.2)
    overflow-y: auto
    overflow-x hidden

#screenings-preloader
    display: none
    height 60px
    width 60px
    position: absolute
    top 50%
    left 50%
    transform: translate(-50%,-50%)
    color cd-turquoise

#screenings-container.preload
    #screeningslist
        display none
    #screenings-preloader
        display block

.screening-element
    position relative
    display block
    margin-top 5px
    margin-bottom 30px
    width 100%
    box-sizing: border-box
    // background-color cd-turquoise
    // background-color cd-darkblue
    // color #fff
    font-size: 14pt
    border-radius: 3px

    .header
        display flex
        justify-content: space-between
        padding 15px 10px
        background-color cd-turquoise
        color #fff



    .click-button
        padding 7px
        padding-left 20px
        display flex
        align-items: center
        margin-top 5px
        background-color #fff
        color cd-darkblue
        border-radius: 3px 0  0 3px
        // line-height: 25px
    // .images-button
    .screening-button-icon
        height 20px
        width 20px
        padding-right 7px

.screening-description
    padding-right 10px
    position relative
    display inline-block
    font-weight: bold
    svg
        position absolute
        right -10px
        top 50%
        transform: translateY(-50%)
        height 40px
        width 40px

.screening-date
    // margin-top 12px
    font-size 11pt
    text-align: right
    display inline-block
    margin-left auto


.screening-chevron
    position absolute
    right 0
    top 50%
    transform: translateY(-50%)
    height 30px
    width 30px


.screenings-info
.screenings-error
    padding 45px 20px
    width 100%
    height 100%
    box-sizing: border-box
    text-align: center
    background-image: url("/img/icon.png")
    background-repeat no-repeat
    background-position center
    // filter grayscale(100%)

.screenings-error
    color: cd-darkred
