// radiologistframe styles
#radiologistframe-container
    position: relative
    width: 100%
    height 100%

#radiologistframe-container > *
    position: absolute
    top 50%
    left 50%
    width: 100%
    height 100%
    background-size: contain
    background-repeat no-repeat
    background-position center
    transition transform 0.3s

// default = position-one
#radiologist-one
    transform translate(-50%, -50%)
    background-image: url("/img/umschaden-logo.png")
#radiologist-two 
    background-image: url("/img/karner-logo.jpg")
    transform translate(100vw, -50%)
#radiologist-three
    transform translate(200vw, -50%)
    background-image: url("/img/sustsol_logo.png")


#radiologistframe-container.position-two

    #radiologist-one
        transform translate(-100vw, -50%)
    #radiologist-two 
        transform translate(-50%, -50%)
    #radiologist-three
        transform translate(100vw, -50%)

#radiologistframe-container.position-three

    #radiologist-one
        transform translate(-200vw, -50%)
    #radiologist-two 
        transform translate(-100vw, -50%)
    #radiologist-three
        transform translate(-50%, -50%)
